.product-container {
  display: inline-block;
}
.product {
  height: 10rem;
  width: 9rem;
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 6px #bbb;
  border-radius: 4px;
  padding: .5rem;
  margin: .5rem;
  cursor: pointer;
}

.product:hover{
  transform: scale(1.05);
}


.product__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  padding: .1rem;
}

.product--title {
  font-weight: bold;
  padding: .2rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.product-price {
  font-size: 0.8rem;
  background-color: #03a678;
  color: #fff;
  border-radius: .5rem;
  padding: .5rem;

}



@media (min-width: 320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width: 425px) { /* smartphones, Android phones, landscape iPhone */}
@media (min-width: 600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */}
@media (min-width: 1024px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .product { height: 9rem; margin: 0; padding:0; }
  .product-price{ font-size: 0.9rem; }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .product { width: 10rem; height: 10rem; padding: .5rem; margin: .5rem; }
}
