
.container {
  padding: 0;
}

.grid{
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 26%;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.search-box {
  padding: 1rem;
}

input[type=text] {
  width: 100%;
  padding: 1rem;
  margin: .5rem 0;
  box-sizing: border-box;
}

.list-title {
  font-size: 0.9rem;
  padding: 1rem;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .grid{
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 425px) { /* smartphones, Android phones, landscape iPhone */}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .grid {
    max-width: 90%;
    width: 90%;
  }

}
@media (min-width: 1024px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .grid {
    max-width: 80%;
    width: 80%;
  }

}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */

  .grid {
    width: 90%;
    max-width: 1300px;
    flex-basis: 50%;
  }

}
